<html>
  <body>
    <b>🛡 New Ban on Fail2ban on {{HOSTNAME}} (jail -> {{JAIL}})</b>
    <br>
    <p>IP: {{IP}}</p>
    <p>DATE: {{DATE}}</p>
    <br>
    <p>COUNTRY: {{COUNTRY}}</p>
    <p>CITY: {{CITY}}</p>
    <br>
    <a href="https://www.ip-tracker.org/locator/ip-lookup.php?ip={{IP}}" target="_blank">More info about {{IP}}</a>
  </body>
</html>
